*{
    margin: 0;
    padding: 0;
}
.latest-deal-cards{
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin-bottom: 100px;
}

.Latest-Deal-content{
    margin-top: 100px;
}
.Latest-Deal-content h1{
    text-align: center;
    font-size: 3.2rem;
    font-family: "Noto Serif", serif;
    margin: 10px 0px;
}
.Latest-Deal-content span{
    color: orangered;
}
.Latest-Deal-content p{
    text-align: center;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 60px;
    line-height: 30px;
}

.cards-left-1 h2{
    margin: 0;
    padding: 0;
}

.cards-left-1 h2{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height:30px;
}
.cards-left-1 a{
    font-size: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
}

.cards-left-2 h2{
    margin: 0;
    padding: 0;
}

.cards-left-2 h2{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height:30px;
}
.cards-left-2 a{
    font-size: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
}

.cards-left{
    height: 420px;
    width: 80%;
    height: 420px;
}
.cards-left-1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
                     rgba(0, 0, 0, 0.712),
                      rgba(0, 0, 0, 0.712)),
                    url(assets/deal-bloom.png);
    background-size: cover;
    height: 48%;
    margin-bottom: 20px;
    border-radius:20px;
}
.cards-left-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background : linear-gradient(180deg,
                     rgba(0, 0, 0, 0.712),
                      rgba(0, 0, 0, 0.712)),
                    url(assets/deal-ana.png);
    background-size: cover;
    height: 48%;
    border-radius:20px;
}
.cards-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(180deg,
                     rgba(0, 0, 0, 0.705),
                      rgba(0, 0, 0, 0.712)),
                    url(assets/deal-zabo.png);
    background-size: cover;
    border-radius:20px;
    width: 100%;
    height: 420px;
}
.cards-right h2{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
}
.cards-right a{
    font-size: 2rem;
    color: white;
    font-family: "Inter", sans-serif;
}






/* responsive for mobile */
@media screen and (max-width: 576px) {
    .Latest-Deal-content h1{
    font-size: 2rem;
}
.Latest-Deal-content p{
    font-size: 1rem;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    line-height: 20px;
}
.latest-deal-cards{
    flex-direction: column;
}
.cards-left{
    width: 100%;
}
.cards-right{
    height: 210px;
}
.cards-left-1 h2{
    font-size: 1.5rem;
    line-height:30px;
}
.cards-left-1 a{
    font-size: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
}

.cards-left-2 h2{
    font-size: 1.5rem;
    line-height:30px;
}
.cards-left-2 a{
    font-size: 1rem;
}
.cards-right h2{
    font-size: 1.5rem;
    line-height: 30px;
}
.cards-right a{
    font-size: 1rem;
}
}
